{:paths   ["src/main"]

 :deps    {edn-query-language/eql              {:mvn/version "1.0.1"}
           camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}
           com.taoensso/timbre                 {:mvn/version "5.1.0"}
           com.taoensso/encore                 {:mvn/version "3.10.1"}
           com.fulcrologic/guardrails          {:mvn/version "1.1.1"}
           com.fulcrologic/fulcro-rad          {:mvn/version "1.0.8"}
           seancorfield/next.jdbc              {:mvn/version "1.1.613"}
           com.zaxxer/HikariCP                 {:mvn/version "3.4.5"}
           org.flywaydb/flyway-core            {:mvn/version "4.2.0"}
           com.wsscode/pathom                  {:mvn/version "2.3.0"}
           org.clojure/clojure                 {:mvn/version "1.10.1"}}

 :aliases {:test      {:extra-paths ["src/test"]
                       :extra-deps  {fulcrologic/fulcro-spec {:mvn/version "3.1.8"}}}

           :clj-tests {:extra-paths ["src/test"]
                       :main-opts   ["-m" "kaocha.runner"]
                       :extra-deps  {lambdaisland/kaocha {:mvn/version "1.0.732"}}}

           :dev       {:extra-paths ["src/dev" "resources"]
                       :extra-deps  {org.clojure/tools.namespace {:mvn/version "1.1.0"}
                                     com.h2database/h2           {:mvn/version "1.4.200"}
                                     org.postgresql/postgresql   {:mvn/version "42.2.18"}}}}}
