{:paths   ["src/main"]

 :deps    {edn-query-language/eql     {:mvn/version "0.0.9"}
           camel-snake-kebab          {:mvn/version "0.4.0"}
           com.taoensso/timbre        {:mvn/version "4.10.0"}
           com.taoensso/encore        {:mvn/version "2.115.0"}
           com.fulcrologic/guardrails {:mvn/version "0.0.9"}
           com.fulcrologic/fulcro-rad {:mvn/version "0.0.1-SNAPSHOT" :scope "provided"}
           org.clojure/java.jdbc      {:mvn/version "0.7.10"}
           seancorfield/next.jdbc     {:mvn/version "1.0.12"}
           com.zaxxer/HikariCP        {:mvn/version "3.4.1"}
           org.flywaydb/flyway-core   {:mvn/version "4.2.0"}
           com.wsscode/pathom         {:mvn/version "2.2.26"}
           org.clojure/clojure        {:mvn/version "1.10.1" :scope "provided"}}

 :aliases {:test      {:extra-paths ["src/test"]
                       :extra-deps  {fulcrologic/fulcro-spec {:mvn/version "3.1.4"}}}

           :clj-tests {:extra-paths ["src/test"]
                       :main-opts   ["-m" "kaocha.runner"]
                       :extra-deps  {lambdaisland/kaocha {:mvn/version "0.0-554"}}}

           :dev       {:extra-paths ["src/dev" "resources"]
                       :extra-deps  {org.clojure/tools.namespace {:mvn/version "0.3.1"}
                                     org.postgresql/postgresql   {:mvn/version "42.2.8"}}}}}
